*{
  margin: 0;
}
main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

header {
  background-color: blue;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 12rem;
}
footer {
  background-color: red;
  height: 12rem;
}
