section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1rem 2rem 1fr;
  grid-gap: 1rem;
}

h3{
  margin-left: 1rem;
}

.itemForm{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 0;
}

.itemForm > input{
  border-radius: 0.5rem;
  background-color: #0275d8;
  border-color: black;
  color: white;
  margin-top: 0.2rem;
}

#mensaje {
  height: 20vh;
  margin-top: 0.2rem;
  background-color: #0275d8;
  border-radius: 0.5rem;
  border-color: black;
  color: white;
}

input[type="submit"]{
 margin-left: 1rem;
 margin-top: 1rem;
}

label{
  font-weight: bold;
}

input:invalid {
  border: 2px solid red;
}
