header {
  background-color: #B4A7D6;
  display:grid;
  grid-template-rows: repeat(2, 1fr);
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 2rem;
  border-style: solid;
  border-color: #8E7CC3;
}

nav{
  align-self: center;
}

nav li:hover{
  transform: scale(1.1);
  background-color: #0275d8;
  border-radius: 5px;
  color: red;
}
nav li:hover a{
  color: white;
}

#btnSearch:hover{
  transform: scale(1.1);
}

#top-header {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
}

#logo {
  width: 4rem;
  height: 4rem;
}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo > p{
  margin-left: 1rem;
  margin-bottom: 0;
  font-size: x-large;
  font-family: 'Brush Script MT', cursive;
  color: #4d70eb;
}


#buscar {
  display: flex;
  flex-direction: row;
  height: 50%;
  align-self: center;
}

#botones{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#botones  img:hover{
  transform: scale(1.2);
}

#search {
  margin-right: 1em;
}
#user{
  margin-left: 1rem;
}
