#carrousel {
  display: flex;
  justify-content: center;
}

.carousel {
  height: 10rem;
  width: 70%;
}
.carousel-inner > .carousel-item {
   height: 10rem;
}
.carousel-inner > .carousel-item > img {
   height: 10rem;
   border-radius: 2rem;

}
section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1rem 9rem 2rem 1fr 1fr ;
  grid-gap: 2rem;
}

h4{
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}
.card{
  border: none;
  width: 15rem;
}
.card:hover{
  border: 1px solid rgba(0,0,0,.125);
  transform: scale(1.1);
}

.fila{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card-text{
  text-align: center;
  margin: 0;
}
.card-body{
  display: flex;
  flex-direction: column;
}
.precio{
  font-size: large;
  font-weight: bold;
}
